#btnSave{

    -fx-background-color:white;
    -fx-text-fill:#157DEC;
    -fx-border-color:#157DEC;
}
#btnSave:hover{

    -fx-background-color:#157DEC;
    -fx-text-fill:white;
}
#btnRemove{

    -fx-background-color:white;
    -fx-text-fill:#9F000F;
    -fx-border-color:#9F000F;
}
#btnRemove:hover{

    -fx-background-color:#9F000F;
    -fx-text-fill:white;

}