
#sidebar{
    -fx-background-color: linear-gradient(to bottom right,#3a47d5 ,#00d2ff);
}
#allStudent{
    -fx-background-radius: 5;
    -fx-background-color: linear-gradient(to bottom right,#efd5ff ,#3F5EFB);
}
.button:hover{
    -fx-font-weight: bold;
    -fx-background-color:white;
    -fx-background-radius: 30;
    -fx-font-size: 16;
    -fx-text-fill: #3a47d5;
}
.button{
    -fx-font-weight: bold;
    -fx-background-color:#3a47d5;
    -fx-background-radius: 30;
    -fx-font-size: 16;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-border-width: 3;

}
.button:pressed{
    -fx-font-weight: bold;
    -fx-background-color:#3a47d5;
    -fx-background-radius: 30;
    -fx-font-size: 16;
    -fx-text-fill: white;
    -fx-border-color:#3a47d5;
    -fx-border-radius: 20;
    -fx-border-width: 3;
    -fx-rotate: 10;
}

